#container {
	margin: 20px auto;
	text-align: center;
}

canvas {
	border: 2px solid #282923;
}

.controler {
    padding: 20px 50px;
    text-align: center;
}

.controler button {
    padding: 30px;
    font-size: 30px;
    outline: none;
}

#left {
	background-color: red;
	margin-right: 150px;
}

#right {
	background-color: blue;
}

@media only screen and (max-width: 400px) {
	body {
		transform: scale(2);
	}
}

.pause-container {
    padding: 20px 50px;
    text-align: center;
}

.pause-container button {
    padding: 20px;
}

#pause, #replay {
	margin-right: 75px;
}

.score-container {
	display: inline-block;
	position: fixed;
	top: 10px;
	left: 20%;
}
